/* Prime Icons */
@import "primeicons/primeicons.css";

/* tailwind */
:root {
  --primary-rgb: 255 49 48;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hp-h1 {
    @apply font-bold text-sm sm:text-base text-gray-900;
  }
  .hp-textstyle {
    @apply text-[13px]/5 sm:text-sm/[22px] text-gray-600;
  }
  .hp-list-grid {
    @apply grid gap-2 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 sm:p-0.5;
  }
  .hp-list-flex {
    @apply flex gap-3 flex-wrap;
  }
  .hp-pagedetails-layout {
    @apply xl:max-w-[88%] flex flex-col gap-y-3 sm:gap-y-5;
  }
  .hp-pagedetails-rows {
    @apply border-t border-dashed border-gray-400 pt-1 mt-1;
  }
  .hp-pagedetails-row {
    @apply flex justify-between gap-x-2 xl:gap-x-5 hover:bg-white px-2;
  }
  .hp-pagedetails-bold {
    @apply font-medium text-gray-900;
  }
}

.active-menuitem > .active-no-toggler > .layout-submenu-toggler {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.page-has-title .page-body {
  height: calc(100vh - 104px);
  @media (min-width: 640px) {
    height: calc(100vh - 144px);
  }
}

.page-has-footer > .page-body {
  height: calc(100vh - 128px);
  @media (min-width: 640px) {
    height: calc(100vh - 156px);
  }
}

.page-has-title.page-has-footer > .page-body {
  height: calc(100vh - 160px);
  @media (min-width: 640px) {
    height: calc(100vh - 196px);
  }
}

.page-footer-shadow {
  box-shadow: 0px -2px 4px 1px rgba(0, 0, 0, 0.3);
}

.cart-btn {
  right: 0.5rem;
  bottom: 0.5rem;
}

.page-has-footer .cart-btn {
  bottom: 4rem;
}

.ribbon {
  position: absolute;
  bottom: 0;
  padding: 0 0.5em;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.25px;
  line-height: 1.875em;
  color: #27272a;
  border-radius: 0 0.313em 0.313em 0;
  background: #f7b0d3bb;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
}

.ribbon:before,
.ribbon:after {
  position: absolute;
  content: "";
  display: block;
}

.ribbon:before {
  width: 0.469em;
  height: calc(100% + 0.438em);
  bottom: 0;
  left: -0.469em;
  background: #f7b0d3;
  border-radius: 0.313em 0 0 0.313em;
}

.ribbon:after {
  width: 0.313em;
  height: 0.313em;
  background: rgba(0, 0, 0, 0.35);
  top: -0.313em;
  left: -0.313em;
  border-radius: 0.313em 0 0 0.313em;
  box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.3);
}

.smv-slides-box {
  background-color: #fff;
  border-radius: 6px;
}
.smv .smv-button-fullscreen {
  padding: 8px;
  height: 40px;
  width: 40px;
}
.smv-h .smv-arrow-control {
  width: 40px;
}
.smv-h .smv-arrow {
  width: 24px;
  height: 50px;
}
.smv-fullscreen-box {
  padding-top: 8px;
}
.smv-selectors-box .smv-selectors .smv-ss {
  padding-top: 6px;
}
.smv-selectors-box.smv-thumbnails.smv-h .smv-item {
  height: 100%;
  padding: 0 4px 0 0;
}
.smv-thumbnails .smv-item smv-thumbnail {
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
}
.mobile-magic .smv-fullscreen-box .smv-selectors-bottom .smv-selectors-box.smv-thumbnails {
  padding-bottom: 8px;
}
